* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.info {
  width: 1200px;
  margin: 0 auto;
  .content {
    width: 50%;
    float: left;
    padding: 10px;
    .board_area {
      width: 100%;
      height: 350px;
      border: 1px solid #999;
      padding: 10px;
      .board_title {
        width: 100px;
        float: left;
        font-size: 25px;
        cursor: pointer;
        text-align: center;
      }
      .board_title.on {
        color: white;
        background-color: #aca0b5;
      }
      .board_content {
        clear: both;
        position: relative;
        ul {
          li {
            font-size: 18px;
            line-height: 40px;
            border-bottom: 1px solid #999;
            span {
              float: right;
            }
          }
          &:first-child {
            border-top: 1px solid #999;
          }
        }
      }

      div#board_notice.board_content {
        clear: both;
      }
      div#board_data.board_content {
        clear: both;
      }
      div#board_news.board_content {
        clear: both;
      }
      ul,
      li {
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
      }
    }
  }
}
#board_data,
#board_news {
  display: none;
}
