.Footer {
  display: flex;
  flex: 1;
  height: 150px;
  flex-direction: row;
  background: #c0aac0;
  padding: 20px;
  justify-content: space-between;

  .text {
    font-size: 1rem;
  }

  .link {
    float: left;
  }
  .exLink {
    float: left;
  }
}
