.ImagePhoto {
  width: 85%;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;

  .user {
    border-radius: 35px;
    background-color: #aca0b5;
    background-clip: content-box;
    padding: 20px 20px;
    display: inline-block; // 이거 적용하는게
  }
  .ll {
    background-image: linear-gradient(to right, #d9c8df 50%, white 100%);
    width: 600px;
    height: 300px;
    float: left;
    text-align: left;
  }
  .rr {
    background-image: linear-gradient(to left, #d9c8df 50%, white 100%);

    width: 600px;
    height: 300px;
    float: right;
    text-align: right;
  }
  .photo {
    padding: 10px 20px;
    border-radius: 30px;
    width: 180px;
    height: 240px;
    // 3:4 (증명사진 비율) 로 했습니다.
    object-fit: cover;
    // 가로세로 비율은 유지하면서 컨테이너에 꽉 차도록 설정
    transition: all 0.2s linear;
  }
  .photo:hover {
    border-radius: 100px;
    transform: scale(1.1);
  }

  .text {
    padding: 10px 10px;
    justify-content: center;
    // img 옆에 텍스트 정렬 속성
    display: inline-block;
    vertical-align: top;
  }
}
