.RemoteControl {
  z-index: 9999;
  position: fixed;
  top: 50%;
  bottom: auto;
  right: 1rem;
  width: 50px;
  height: 80px;
  *:active{
    color:black
  }
  a:hover {
    opacity: 0.5
  }
  .up,
  .down {
    width: 30px;
    height: 30px;
    background-color: #f2d5ed;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    margin: 1rem;
  }
}
