@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.Template {
  width: 1200px;
  margin: 0 auto;
  border-radius: 4px;
  overflow: hidden;
  font-family: 'Noto Sans KR', sans-serif;
  .content {
  }
  a {
    text-decoration: none;
    color: black;
  }

}
